%h1 Listing blog_entries

%table
  %tr
    %th Published at
    %th Title
    %th Content
    %th
    %th
    %th

  - @blog_entries.each do |blog_entry|
    %tr
      %td= blog_entry.published_at
      %td= link_to(blog_entry, blog_entry)
      %td= raw blog_entry.content

%br

= link_to 'New Blog entry', new_blog_entry_path
