#tag-line.row-fluid
  .container
    .explain
      %p.first-snippet
        Five Tool Development
        %br
        helps small companies do big things

#about.row-fluid
  .container
    .explain
      %h2 services
      %p.intro What we can do for you

    .row
      .span6
        %h3 Development
        %p We use the best technologies for the job. Whether your project is building something new from scratch or rehabilitating an existing application to give it new life, Five Tool can bring your idea to successful execution.

        %p
          Five Tool Dev works with:
          %ul
            %li Ruby on Rails
            %li PostgreSQL and MySQL databases
            %li Heroku
            %li jQuery and jQuery Mobile
            %li Backbone.js
            %li and more...

      .span6
        %h3 Consulting
        %p You have a dream, and we'll help you guide it to launch and success. Five Tool Development can provide the services and advice of a chief technology officer (CTO) at a fraction of the cost of hiring a permanent, full-time team member. We can answer questions about design, architecture, hosting, and hiring. We'll help you find the best resources for your budget. When your launch takes off, you'll already have a plan in place to keep up with growth.

#contact.row.section
  / MAP ###############################################
  %div
    .container
      %h2 Contact
      %p.intro Five Tool Development is located in Washington, D.C.

    #map.container.hidden-phone

#form
  .container
    .row
      .span8
        %h3 Get in touch with us
        %p Fill out the form below and we will hit you back in a flash.

        %form#new_contact_message.new_contact_message{action: "/contact_messages", method: "post"}
          %fieldset
            .row
              .holder.span8
                .message
                  .top
                  #alert.contents
                  .bottom
                  .field.span8
                    %input#new_contact_message_name.input-text.m-wrap.m-ctrl-large{type: "text", value: "", name: "contact_message[name]", placeholder: "Your Name"}

                  .field.span8
                    %input#new_contact_message_email_address.input-text.m-wrap.m-ctrl-large{type: "email", value: "", name: "contact_message[email_address]",  placeholder: "Your Email Address"}

                  .field.span8
                    %textarea#new_contact_message_message.input-textarea.m-wrap.m-ctrl-large{type: "text", placeholder: "Your Message", name: "contact_message[message]"}

                  .field.span8
                    %input.m-btn.green{type: "submit", value: "Send to Us"}

      .span3.offset1
        %h3 Contact info

        %p
          %address
            %strong Five Tool Development
            %br
            1760 Euclid Street NW, #502
            %br
            Washington, DC 20009
            %br
            %i.icon.icon-bell
            202.507.9041
            %br
            %i.icon.icon-envelope
            %a{href: "mailto:info@fivetool.io"} info@fivetool.io
            %br
            %a.twitter-follow-button{href: "https://twitter.com/FiveToolDev", data: {'show-count' => "false"}} Follow @FiveToolDev
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            %br
            .g-plusone{href: 'http://www.fivetool.io', data: {annotation: 'none', size: 'tall'}}
            :javascript
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();