%section.banner
  .container
    %h2 Join Us

%section.jobs
  .container
    #job-descriptions
      %article
        %header
          %h3 We’re hiring!

        %p
          Want to work in an exciting, fast-paced environment on greenfield development projects with a small team? Five Tool Development has lots to do, and is looking to expand our team with some stellar performers. We currently work in Washington, DC, but remote candidates are very welcome to apply.

      %article
        %header
          %h3 Developer
        %p Are you a committed Test-Driven Developer who wants to practice and refine your craft with a team that is similarly committed? Do you want to be part of a team where you control and shape the technical direction of products? Five Tool Development is looking for developers who want to collaborate on projects to help our customers build products that transform their business. Our recent work includes early stage startups building their first products as well as forward-looking government agencies looking to build transformative software projects through lean development.

        %p Senior- and junior-level developers are invited to apply.

        %p
          You should have experience or knowledge in the following technologies:

        %p
          %ul

            %li Comfort working with Ruby and Ruby on Rails
            %li Working knowledge of SQL (we use PostgreSQL, but understanding of MySQL is fine)
            %li Mastery of jQuery (bonus points for CoffeeScript)
            %li Experience using RSpec, Capybara, and other Ruby testing tools and maintaining test suites over time
            %li Proficiency in git and git workflows
            %li Bonus points for experience with D3

      %article
        %header
          %h3 Designer
        %p Five Tool Development is looking for a designer who combines an eye for aesthetic excellence with an understanding of how to collaborate with developers. We want to create designs that look great on the page and in the page source. Can you guide our clients from the germ of their initial idea to a beautiful, usable, well-designed result? Do you build maintainable, extendable Sass and CSS? Are you a jQuery pro? You should join our team.

        %p
          You should have knowledge in the following technologies and techniques:

        %p
          %ul
            %li Expert-level understanding of CSS and Sass
            %li Prior experience building responsive designs
            %li Working knowledge of JavaScript and jQuery
            %li Proficiency in git and git workflows
            %li Bonus points for experience with Sprockets and the Rails asset pipeline

      %article
        %header
          %h3 How to Apply
        %p Send us an email with an attached one-page resume. In your email, tell us about your experience and what you are looking for in your career and work environment. Include any links to Github, portfolios, or other examples of your work. Send emails to jobs at fivetool.io with the subject line "A Five Tool Player".

    #benefits
      %article
        %header
          %h3 Benefits
        %p
          Five Tool Development is committed to helping everyone on our team grow in their role. We offer the following benefits:

        %p
          %ul
            %li Competitive compensation
            %li 401(k)
            %li Profit sharing! Share in our success
            %li Budget for educational resources such as classes, books, and conferences
            %li Opportunities to work on open-source software projects on company time
