= "Hello #{@contact_message.name},"

%br

Thank you for sending us a message. We will be in touch with you soon.

%br
%br
Thanks,
%br
Geoff Harcourt
%br
Founder, Five Tool Development
%br
http://www.fivetool.io