$dark-gray: #3D3D3C;
$light-gray: #9E9D9C;
$bold-orange: #E73D1E;
$max-width: 1200px;
$mobile: max-width 980px 4;
$base-font-size: 16px;
$base-line-height: 29px;
$base-text-color: $dark-gray;

@import "http://fonts.googleapis.com/css?family=Lato:400,300";
@import 'bourbon';
@import 'neat';

@mixin column-as-full-width {
  @include media($mobile) {
    @include shift(0);
    padding: 0 golden-ratio($base-font-size, 1);
    width: 100%;
  }
}

@mixin jumbotron {
  text-align: center;
}

@mixin no-link-styles($link-color: $dark-gray) {
  a, a:visited, a:active, a:hover {
    color: $link-color;
    text-decoration: none;
  }
}

body {
  background-color: $dark-gray;
  color: $dark-gray;
  font-family: "Lato";
  font-size: $base-font-size;
  height: 100%;
  line-height: $base-line-height;
  @include no-link-styles;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

.container {
  @include outer-container;
  padding: golden-ratio($base-line-height, 1) golden-ratio($base-line-height, 2);

  @include media($mobile) {
    padding-left: $base-font-size;
    padding-right: $base-font-size;
  }
}

section {
  width: 100%;

  h1, h2, h3, h4, h5 {
    @include jumbotron;
  }

  h1 {
    font-size: golden-ratio($base-font-size, 2);
    line-height: golden-ratio($base-font-size, 3);
    font-weight: 550;
  }

  h2 {
    font-size: golden-ratio($base-font-size, 2);
    line-height: golden-ratio($base-line-height, 1);
    margin-bottom: $base-line-height;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: golden-ratio($base-font-size, 1);
    margin-top: golden-ratio($base-line-height, -1);
    margin-bottom: golden-ratio($base-line-height, -1);
  }

  a {
    font-weight: 600;
    margin-left: 1px;
  }

  aside {
    @include span-columns(4);
    @include column-as-full-width;
    @include jumbotron;

    img {
      display: block;
      margin-top: golden-ratio($base-font-size, -1);
      margin-left: auto;
      margin-right: auto;
    }
  }

  article {
    @include span-columns(8);
    @include column-as-full-width;

    header {
      margin-top: $base-line-height;

      i.batch {
        @include jumbotron;
        display: block;
      }
    }

    p:not(:first-child) {
      padding-top: $base-font-size;
    }
  }
}

.service-item {
  @include span-columns(4);
  @include column-as-full-width;

  @include media($mobile) {
    &:not(:last-child) {
      margin-bottom: golden-ratio($base-line-height, 2);
    }
  }

  &:not(:first-child) {
    padding-left: $base-line-height;
  }

  &:not(:last-child) {
    padding-right: $base-line-height;
  }

}

.portfolio-item {
  @include outer-container;
  margin-top: golden-ratio($base-font-size, 4);

  &:nth-child(2n) {
    article {
      padding-left: golden-ratio$base-line-height;
    }
  }

  &:nth-child(2n+1) {
    article {
      padding-right: $base-line-height;
    }

    aside {
      float: right;
    }
  }
}

.contact-us {
  background-color: $light-gray;
  color: white;
}

.banner {
  background-color: $bold-orange;
  color: white;
}

header#site-header {
  background-color: white;

  .logo {
    @include span-columns(6);
    @include column-as-full-width;
  }

  h1.brand {
    color: transparent;
    background: url("http://s3.amazonaws.com/fivetooldev-homepage/five-tool-logo.png") no-repeat;
    height: 126px;
    width: 100%;

    @include media($mobile) {
      background-position: center center;
      background-size: 360px;
    }
  }

  nav {
    @include span-columns(6);
    @include column-as-full-width;

    font-size: golden-ratio($base-font-size, 1);

    @include media($mobile) {
      margin: 0 auto;
    }

    a:hover {
      color: $bold-orange;
    }

    li {
      display: inline;
      padding: 0 $base-font-size;

      @include media($mobile) {
        //display: block;
      }
    }

    ul {
      float: right;
      margin-top: $base-line-height;

      @include media($mobile) {
        @include jumbotron;

        float: none;

        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
      }

    }
  }
}

footer, .services, .technologies {
  background-color: $dark-gray;
  color: white;
  height: 100%;
  @include no-link-styles(white);
}

#get-in-touch, #contact-form-box {
  @include span-columns(6);
  @include column-as-full-width;

  h2 {
    text-align: left;
    margin-bottom: golden-ratio($base-line-height, 1);

    @include media($mobile) {
      @include jumbotron;
    }
  }

  input, textarea, button {
    border-radius: 6px;
    border-style: none;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin-bottom: golden-ratio($base-line-height, -1);
    padding: 6px;
    width: 100%;

    &[type="submit"] {
      background-color: $bold-orange;
      color: white;
      margin-top: golden-ratio($base-line-height, -1);

      &:hover, &:focus {
        background-color: shade($bold-orange, 10%);
      }
    }
  }

  textarea {
    height: golden-ratio($base-line-height, 3);
  }
}

#copyright-tag {
  @include span-columns(9);
  @include column-as-full-width;
}

#address {
  @include span-columns(3);
  @include column-as-full-width;

  float: right;

  @include media($mobile) {
    float: none;
  }
}

.about, .portfolio {
  background-color: white;
}

#headshot {
  figure {
    img {
      border-radius: 137.5px;
    }
  }
  figcaption {
    margin-top: $base-line-height;
  }
}

#bio {
  @include span-columns(7);
  @include shift(1);

  @include column-as-full-width;

  margin-bottom: 0;
}

.social-links {
  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
  width: 100%;

  li {
    display: inline;
    margin-right: $base-line-height;
  }

  img {
    display: inline;
    margin: 0;
  }
}

.bio-social-links {
  @extend .social-links;
}