!!! html
%html{lang: "en"}
  = render template: 'layouts/head_tag'

  %body#home{data: {spy: "scroll", target: ".navbar"}}

    = render template: 'layouts/header'

    #blog.row-fluid.section
      .container
        = yield

    = render template: 'layouts/footer'